<div class="sub-component center-content">
    <div class="device-content">
        <h1>Cryo Hip</h1>
        <div class="lineHorizontal"></div>
        <div>
            <div fxLayout="row">
                <img style="height: 265px;" src="../assets/icons/mana-hip.png">
                <div class="description-container">
                    <p>
                        Cryo Hip is a quick fitting, universal, hip range of motion orthosis. The brace includes range of motion hinges
                        to allow for flexion and extension control. A quick inflation system that can improve outcomes by managing pain
                        and swelling. This hip brace also includes two high quality ice packs. 
                    </p>
                    <ul style="text-align: left;">
                        <li>
                            Quick fitting
                        </li>
                        <li>
                            Cold compression
                        </li>
                        <li>
                            Range of motion hinge
                        </li>
                        <li>
                            Universally sized
                        </li>
                    </ul>    
                </div>
            </div>
            <div>
                <button [routerLink]="['/products']" class="common-button">Return to Products page</button>
            </div>
        </div>
    </div>
</div>
