.dvt-button {
    position: absolute;
    top: 10vw;
    left: 28vw;
    width: 14vw;
    height: 7vw;
    font-size: 2vw;
}

.lymph-button {
    position: absolute;
    top: 10vw;
    left: 44vw;
    width: 14vw;
    height: 7vw;
    font-size: 2vw;
}

.ct-button {
    position: absolute;
    top: 10vw;
    left: 61vw;
    width: 14vw;
    height: 7vw;
    font-size: 2vw;
}

.image-scale {
    width: 100%;
    height: auto;
}

.pe-buttons {
    border: 1px solid black;
    background-color: midnightblue;
    color: white;
    box-shadow: 4px 5px 8px midnightblue;
    outline: none;
    border-radius: 10px;
}

.pe-buttons:hover {
    background-color: skyblue;
    box-shadow: 4px 5px 8px skyblue;
    color: black;
}