.dvt-button {
    position: absolute;
    top: 10vw;
    left: 28vw;
    width: 14vw;
    height: 7vw;
    font-size: 2vw;
}

.lymph-button {
    position: absolute;
    top: 10vw;
    left: 44vw;
    width: 14vw;
    height: 7vw;
    font-size: 2vw;
}

.ct-button {
    position: absolute;
    top: 10vw;
    left: 61vw;
    width: 14vw;
    height: 7vw;
    font-size: 2vw;
}

.image-scale {
    max-width: 100%;
    height: auto;
}