<div class="sub-component center-content">
    <div class="device-content">
        <h1>Cryo Ankle</h1>
        <div class="lineHorizontal"></div>
        <div>
            <div fxLayout="row">
                <img src="../assets/icons/cryo-hip.png">
                <div class="description-container">
                    <p>
                        Cryo Ankle wrap orthosis design with a removable ice pack. A quick inflation 
                        system that can improve outcomes by managing pain and swelling.
                    </p>
                    <ul style="text-align: left;">
                        <li>
                            Universally sized
                        </li>
                        <li>
                            Removable ice pack
                        </li>
                        <li>
                            Compression bulb
                        </li>
                        <li>
                            Quick wrap design
                        </li>
                    </ul>    
                </div>
            </div>
            <div>
                <button [routerLink]="['/products']" class="common-button">Return to Products page</button>
            </div>
        </div>
    </div>
</div>
