<div class="sub-component center-content">
    <div class="device-content">
        <h1>Cryo Shoulder</h1>
        <div class="lineHorizontal"></div>
        <div>
            <div fxLayout="row">
                <img class="" src="../assets/icons/cryo-shoulder.png">
                <div class="description-container">
                    <p>
                        The Cryo Shoulder is a convenient shoulder orthosis for pain, swelling, and to
                        compress the shoulder joint.
                    </p>
                    <ul style="text-align: left;">
                        <li>
                            Pump up with air and compress the cold to alleviate pain faster
                        </li>
                        <li>
                            Removable gel liner for cooling in freezer
                        </li>
                        <li>
                            Drip free fabric to allow breathing
                        </li>
                        <li>
                            Easy to apply over clothing
                        </li>
                        <li>
                            Can be used for sprains, sports injuries, rehab, arthritis, and muscle tensisons/fatigues
                        </li>
                    </ul>    
                </div>
            </div>
            <div>
                <button [routerLink]="['/products']" class="common-button">Return to Products page</button>
            </div>
        </div>
    </div>
</div>
