<div class="sub-component center-content">
    <div class="device-content">
        <h1>Cryo Spine</h1>
        <div class="lineHorizontal"></div>
        <div>
            <div fxLayout="row">
                <img style="height: 265px;" src="../assets/icons/cryo-spine.png">
                <div class="description-container">
                    <p>
                        The Cryo Spine is a universal spinal orthosis designed with our patent pending chord compression system with center hub compression technology.
                         It is designed to provide a rigid, comfortable, and quick fitting solution for every patient. Ice pack included.
                    </p>
                    <ul style="text-align: left;">
                        <li>
                            Easy application, universal size
                        </li>
                        <li>
                            Removable ice pack
                        </li>
                        <li>
                            Lightweight, latex free breathable material
                        </li>
                        <li>
                            Single pulley system
                        </li>
                    </ul>    
                </div>
            </div>
            <div>
                <button [routerLink]="['/products']" class="common-button">Return to Products page</button>
            </div>
        </div>
    </div>
</div>