<div>
    <h1 class="ph-header">Our Cause</h1>
    <div style="text-align: -webkit-center;">
        <div class="body-fs">At JS Medical, we want to thank our veterans for their service and sacrifice
            by giving back to our communities through various philanthropic events. 
        </div>
    </div>
    
    <div fxLayout="row">
        <div>
            <img class="milarmy" src="../assets/icons/mil-family1.jpg">
            <img class="milarmy" src="../assets/icons/mil-family2.jpg">
        </div>
    </div>
    <div fxLayout="row" style="margin-left: 11.5vw;">
        <img class="mini-imgs" src="../assets/icons/philanth1.png">
        <div>
            <p class="donation">
                A portion of all our proceeds are donated to military philanthropic organizations.
                We are proud to be active donors to the Army Fisher House and we are honored to give back
                to our military families. We are passionate about making a positive change in our veterans lives!
            </p>
            <h1 class="ph-header">Events</h1>
            <p class="donation">
                We would love to host a philanthropy event on your base. Please reach out to us so we
                can help make a difference!
            </p>
            <div class="contact" [routerLink]="['/contact']">
                Contact Us
            </div>
        </div>
        <img class="mini-imgs" src="../assets/icons/philanth2.PNG">
    </div>
</div>
