<div>
    <h1 class="ph-header">Quality Service</h1>
    <div class="img-header">
        <img class="milarmy" src="../assets/icons/milarmy.jpg">
    </div>
    <div class="cause-container prettify-border">
        <h1 class="h-fs">Patient Care</h1>
        <div class="body-fs">Patient safety and satisfaction is our highest priority.</div>
        <p class="body-fs">We provide: </p>
        <ul class="body-fs">
            <li>Extensive product education to patients</li>
            <li>Follow-up calls to patients after surgery to ensure satisfaction</li>
            <li>In-person visits for patients needing extra assistance</li>
            <li>24/7 patient contact availability</li>
        </ul>
    </div>
</div>
