.ph-header {
    text-align: center;
    font-size: 2.3vw;
}

.img-header {
    text-align: center;
}

.milarmy {
    width: 33vw;
    margin-top: 3vw;
    border-radius: 15px;
}

.cause-container {
    max-width: 27vw;
    position: absolute;
    top: 73vw;
    left: 2vw;
}