.ph-header {
    text-align: center;
    font-size: 2.3vw;
}

.img-header {
    text-align: center;
}

.milarmy {
    width: 33vw;
    margin-top: 3vw;
    border-radius: 15px;
    margin-left: 11vw;
}

.body-fs {
    font-size: 2vw;
    max-width: 44vw;
    color: #888970;
}

.donation {
    width: 55vw;
    font-size: 1.4vw;
    color: #888970;
}

.contact {
    font-size: 1.4vw;
    cursor: pointer;
    color: orange;
    outline: none;
    text-align: center;
}

.contact:hover {
    color: red; 
}

.mini-imgs {
    height: 12vw;
    margin-top: 3vw;
}