<div class="sub-component center-content">
    <div class="device-content">
        <h1>PlasmaFlow</h1>
        <div class="lineHorizontal"></div>
        <div>
            <div fxLayout="row">
                <img style="height: 265px;" src="../assets/icons/mana-calf.png">
                <div class="description-container">
                    <p>
                        The PlasmaFlow is intended to be an easy to use sequential compression system, prescribed by a physician,
                        for use in the home or clinical setting to help prevent the onset of DVT in patients by stimulating blood
                        flow in the extremities (simulating muscle contractions).
                    </p>
                    <ul style="text-align: left;">
                        <li>
                            Portable, lightweight and tubeless
                        </li>
                        <li>
                            Long lasting rechargeable battery. Up to 10 hours of use on one charge
                        </li>
                        <li>
                            2 Modes: Slow inflation and Step-Up technology which allows the unit to increase pressure in slower increments
                        </li>
                        <li>
                            2 LCD screens to monitor usage and pressure
                        </li>
                    </ul>    
                </div>
            </div>
            <div>
                <button [routerLink]="['/products']" class="common-button">Return to Products page</button>
            </div>
        </div>
    </div>
</div>
