.center {
    text-align: -webkit-center;
}

.contact-container {
    width: 50%;
    min-width: 800px;
    margin-left: 24%;
    background-color: aliceblue;
    height: 50vh;
    min-height: 300px;
}

.border-spacer {
    justify-content: space-around;
    text-align: center;
}