<div class="sub-component">
    <div class="contact-container">
        <h1 class="center">
            Contact JS Medical
        </h1>
        <div class="border-spacer" fxLayout="row" fxLayoutGap="5%">
            <div class="prettify-border">
                <h1>
                    Email
                </h1>
                <div style="align-items: center;" fxLayout="row">Send us an email at: <button onclick="location.href='mailto:jsmedical@gmail.com?Subject=JSMedical Inquiry'" type="button">
                    jsmedical@gmail.com</button></div>
            </div>
            <div class="prettify-border">
                <h1>
                    Phone
                </h1>
                <p>Call us at 410-499-1515</p>
            </div>
            <div class="prettify-border">
                <h1>
                    Fax
                </h1>
                <p>Fax us at 410-499-1515</p>
            </div>
        </div>
    </div>
</div>
