.center {
    text-align: -webkit-center;
}

.contact-container {
    width: 50%;
    min-width: 800px;
    margin-left: 24%;
    height: 50vh;
    min-height: 300px;
}

.border-spacer {
    justify-content: space-around;
    text-align: center;
}

.page-bg {
    background-color: darkgray;
    min-height: 82.5vh;
}

.top-space {
    margin-top: 5vh;
}

.hmed-secondary {
    color: #FF8D00;
}

.white-bg {
    background-color: white;
}