<div class="sub-component page-bg">
    <div class="contact-container">
        <div class="border-spacer" fxLayout="row" fxLayoutGap="5%">
            <div class="prettify-border top-space white-bg">
                <h1 class="common-header">
                    Contact Horizon Medical
                </h1>
                <div fxLayout="row" class="ct-header-size hmed-secondary">Email</div>
                <div style="align-items: center;" fxLayout="row">Send us an email at: <button onclick="location.href='mailto:horizonmedproducts@gmail.com?Subject=JSMedical Inquiry'" type="button">
                    horizonmedproducts@gmail.com</button>
                </div>
                <div fxLayout="row" class="ct-header-size top-space hmed-secondary">Telephone Numbers</div>
                <div fxLayout="row">
                    James Stadler: 410-499-1515
                </div>
                <div fxLayout="row">
                    Stephen Ebner: 443-370-9659
                </div>
                <div fxLayout="row">
                    Han Kim: 443-632-7839
                </div>
                <div fxLayout="row" class="ct-header-size top-space hmed-secondary">Fax</div>
                <div fxLayout="row">
                    443-773-3526
                </div>
            </div>
        </div>
    </div>
</div>
