.central-panels {
    text-align: -webkit-center;
}

.panels {
    max-width: 50vw;
}

.dvt-images {
    margin-left: 9vw;
}

.surg-img {
    width: 165px;
    margin-left: 4vw;
}

.dvt-header-size {
    font-size: 16px;
}

.panel-header {
    width: 7vw;
}

.plasma {
    color: orange;
}

.plasma:hover {
    color: red;
}

.proph-header {
    font-size: 26px;
    margin-top: 2vw;
}

.proph-div {
    text-align: center;
    margin-top: 3vw;
}