<div class="sub-component center-content">
    <div class="device-content">
        <h1>ManaFlow</h1>
        <div class="lineHorizontal"></div>
        <div>
            <div fxLayout="row">
                <img style="height: 265px;" src="../assets/icons/manaflow.png">
                <div class="description-container">
                    <p>
                        The ManaFlow is a four-chamber tubeless pneumatic compression device used to treat lymphedema
                        or aid in the prevention of DVT.
                    </p>
                    <ul style="text-align: left;">
                        <li>
                            Portable and lightweight
                        </li>
                        <li>
                            ManaFlow 52 allows the user or clinician to calibrate the pressure in each
                            of the four chambers
                        </li>
                        <li>
                            ManaFlow 51 provides a preset 50 mmHg in each chamber
                        </li>
                        <li>
                            Patient compliance monitor and pressure monitor
                        </li>
                    </ul>    
                </div>
            </div>
            <div>
                <button [routerLink]="['/products']" class="common-button">Return to Products page</button>
            </div>
        </div>
    </div>
</div>