<div class="sub-component center-content">
    <div class="device-content">
        <h1>Cryo Knee</h1>
        <div class="lineHorizontal"></div>
        <div>
            <div fxLayout="row">
                <img src="../assets/icons/cryo-knee.png">
                <div class="description-container">
                    <p>
                        The ManaEZ ROM is a quick fitting, universal, knee range of motion orthosis. The brace includes range of
                        motion hinges to allow for flexion and extension control. A quick inflation system that can improve outcomes
                        by managing pain and swelling. This knee brace also includes an ice pack.
                    </p>
                    <ul style="text-align: left;">
                        <li>
                            Removeable range of motion hinges
                        </li>
                        <li>
                            Removable ice pack                            
                        </li>
                        <li>
                            Compression bulb to fill the knee orthosis with air
                        </li>
                        <li>
                            Lightweight, latex free breathable material
                        </li>
                        <li>
                            Easy application, universal size with hook and buckle closure
                        </li>
                        <li>
                            Designed for either left or right leg
                        </li>
                    </ul>    
                </div>
            </div>
            <div>
                <button [routerLink]="['/products']" class="common-button">Return to Products page</button>
            </div>
        </div>
    </div>
</div>