<div class="sub-component">
    <div>
        <img class="image-scale img-border" src="../assets/icons/milarmyhs.jpg">
    </div>

    <div class="healthlogo">
        <img style="width: 10vw;" src="../assets/icons/health.jpg">
    </div>

    <div class="whoweare-text prettify-border">
        <h1 class="about-header-text">
            Who We Are
        </h1>
        <p class="body-text">We are a medical device company that specializes in postoperative veteran patient care. Our high-quality products provide surgical
            clinics with solutions to increase patient safety and quality care.</p>
    </div>

    <div class="ourmission-text prettify-border">
        <h1 class="about-header-text">
            Our Mission
        </h1>
        <p class="body-text">To improve patient outcomes by providing innovative medical products that enhance safety and recovery for those who have served
             our country.</p>
    </div>

    <div class="ourvalues-text prettify-border">
        <h1 class="about-header-text">
            Our Vision
        </h1>
        <p class="body-text">To provide the highest quality healthcare for military members across the nation and abroad. We aim to improve the standard of
             healthcare in the military healthcare setting.</p>
    </div>

    <div>
        <button class="nav-buttons qs-button" (click)="triggerQuality()">Quality Service</button>
        <button class="nav-buttons phil-button" (click)="triggerPhilanthropy()">Philanthropy</button>
    </div>
    
    <div *ngIf="qualityTrigger">
        <quality-service></quality-service>
    </div>

    <div *ngIf="philanthropyTrigger">
        <philanthropy></philanthropy>
    </div>
</div>
