<div>
    <h1 class="qs-header common-header">Quality Service</h1>
    <div class="img-header">
        <img class="milarmy" src="../assets/icons/milarmy.jpg">
    </div>
    <div class="patient-container prettify-border">
        <h1 class="h-fs common-header center-content">Patient Care</h1>
        <div class="body-fs">Patient safety and satisfaction is our highest priority.</div>
        <p class="body-fs">We provide: </p>
        <ul class="body-fs">
            <li>Extensive product education to patients</li>
            <li>Follow-up calls to patients after surgery to ensure satisfaction</li>
            <li>In-person visits for patients needing extra assistance</li>
            <li>24/7 patient contact availability</li>
        </ul>
    </div>

    <div class="clinic-container prettify-border">
        <h1 class="h-fs common-header center-content">Clinic Satisfaction</h1>
        <ul class="body-fs">
            <li>All products are charged, tested, and delivered to your clinic personally by our team</li>
            <li>All inventory and paperwork will be managed by our team</li>
            <li>Efficient communication with clinic manager to ensure a positive outcome and relationship</li>
        </ul>
        <div class="thumb">
            <img style="width: 8vw;" src="../assets/icons/thumbsup.png">
        </div>
    </div>

    <div class="tricare-container prettify-border">
        <h1 class="h-fs common-header center-content">Certified Provider</h1>
        <div style="display: inline-flex;">
            <ul class="body-fs">
                <li>We are a Tricare DME certified provider</li>
                <li>All patients (active and inactive) are eligible to receive our products at no cost</li>
                <li>No cost to the hospital or clinics</li>
            </ul>
            <div class="tricare">
                <img style="width: 13vw;" src="../assets/icons/tricare.png">
            </div>
        </div>
    </div>
</div>
