.milarmy {
    width: 33vw;
    margin-top: 2.7vw;
    border-radius: 15px;
    margin-right: 1.4vw;
}

.thumb {
    margin-top: 2vw;
    border-radius: 15px;
    margin-left: 9vw;
}

.tricare {
    margin-left: 5vw;
}

.qs-header {
    text-align: center;
    font-size: 2.3vw;
}

.img-header {
    text-align: center;
}

.h-fs {
    font-size: 2vw;
    text-decoration-line: underline;
}

.body-fs {
    font-size: 1.2vw;
}

.patient-container {
    max-width: 27vw;
    position: absolute;
    top: 73vw;
    left: 2vw;
}

.clinic-container {
    position: absolute;
    top: 73vw;
    left: 68vw;
    max-width: 26%;
}

.tricare-container {
    position: absolute;
    top: 99vw;
    left: 25vw;
    max-width: 41%;
}