<div class="central-panels sub-component">
    <h1>
        Lymphedema
    </h1>
    <mat-expansion-panel class="panels">
        <mat-expansion-panel-header>
            <mat-panel-title class="bold panel-header">
                Lymphedema: An Overview
            </mat-panel-title>
            <mat-panel-description>
                What is Lymphedema?
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="text-align: left;">
            <p>
                Lymphedema is a chronic condition that impacts a number of cancer patients, especially
                those who have lymph nodes removed or damaged as part of their treatment. The
                condition is most commonly associated with breast cancer patients but can result from
                the treatment for other cancers. While lymphedema can be painful, even debilitating,
                the condition can be managed, prevented and, in some cases, reversed.
            </p>
            <p>
                Untreated lymphedema can lead to decreased function and mobility in the affected area, skin
                breakdown, infection and other complications.
            </p>
        </div>
        <div style="text-align: left;">
            <p>
                The most common symptoms of Lymphedema include:
            </p>
            <ul>
                <li>Pain, heat and/or redness in the effected area</li>
                <li>Persistent depressions in the skin when pressed</li>
                <li>A feeling of tightness or stiffness in the skin</li>
                <li>Swelling, most often in the arms, hands, fingers, shoulders, chest or legs</li>
                <li>Decreased movement or flexibility in the hand, wrist, or ankle</li>
                <li>Tight-fitting ring, watch, clothes or shoes</li>
                <li>A weakness or heavy feeling in the arms or legs</li>
            </ul>
        </div>
     </mat-expansion-panel>
    <mat-expansion-panel class="panels">
        <mat-expansion-panel-header>
            <mat-panel-title class="bold panel-header">
                Prevention and Treatment
            </mat-panel-title>
            <mat-panel-description>
                ????????
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="text-align: left;">
            <p>
                If a cancer patient is deemed at risk for lymphedema, a number of options may be recommended to keep the condition at bay,
                including:
            </p>
            <ul>
                <li>
                    A sentinel lymph node biopsy prior to surgery to identify lymph nodes for removal, while helping to preserve
                    remaining lymph nodes
                </li>
                <li>
                    Gentle range-of-motion exercises, massage, skin care, light exercises and education techniques to stimulate
                    the lymphatic system
                </li>
                <li>
                    Compression bandages, pumps or garments (e.g. sleeves, stockings) to help prevent additional fluid from
                    accumulating in the tissue
                </li>
            </ul>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="panels">
        <mat-expansion-panel-header>
            <mat-panel-title class="bold panel-header">
                Surgical Procedures
            </mat-panel-title>
            <mat-panel-description>
                What are your options?
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="text-align: left;">
            <div>
                After non-surgical therapeutic approaches have been exhausted, two state-of-the-art surgical options may also be available to treat
                lymphedema.
                <ul>
                    <li>
                        <div>
                            Vascularized lymph node transfer surgery: This is an intricate microsurgical procedure used to treat patients
                            with advanced lymphedema affecting the skin tissue in the arms or legs
                        </div>
                        <div>
                            Plastic surgeons transfer working lymph nodes from another part of the body, typically the upper groin or lower
                            abdomen, to the damaged site. The existing blood vessels supplying the nodes are then divided and connected at the
                            site the lymph nodes are needed. Reverse lymphatic mapping is used to reduce the chance of Lymphedema
                            occurring in the areas where lymph nodes were harvested.
                        </div>
                    </li>
                    <li>
                        Lymphaticovenular bypass surgery: This is an intricate super-microsurgical procedure used to treat patients with
                        mild to moderate lymphedema. The plastic surgeons perform the surgery by locating damaged lymphatic
                        vessels directly beneath the skin in the affected area of the body. Then the surgeons redirect, or shunt, fluid from
                        damaged lymphatic vessels to neighboring tiny veins called “venules”, by connecting the working segments of
                        the lymphatic vessels to the venules to allow excess fluid to drain into the bloodstream and reduce pressure in the
                        affected area.
                    </li>
                </ul>

            </div>
        </div>
    </mat-expansion-panel>
</div>