<div class="central-panels sub-component">
    <h1>
        Lymphedema
    </h1>
    <mat-expansion-panel class="panels">
        <mat-expansion-panel-header>
            <mat-panel-title class="bold panel-header">
                Lymphedema: An Overview
            </mat-panel-title>
            <mat-panel-description>
                What is Lymphedema?
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
            <p>
                Lymphedema is a chronic condition that impacts a number of cancer patients, especially
                those who have lymph nodes removed or damaged as part of their treatment. The
                condition is most commonly associated with breast cancer patients but can result from
                the treatment for other cancers. While lymphedema can be painful, even debilitating,
                the condition can be managed, prevented and, in some cases, reversed.
            </p>
            <p>
                Untreated lymphedema can lead to decreased function and mobility in the affected area, skin
                breakdown, infection and other complications.
            </p>
        </div>
        <div>
            <p>
                The most common symptoms of Lymphedema include:
            </p>
            <ul>
                <li>Pain, heat and/or redness in the effected area</li>
                <li>Persistent depressions in the skin when pressed</li>
                <li>A feeling of tightness or stiffness in the skin</li>
                <li>Swelling, most often in the arms, hands, fingers, shoulders, chest or legs</li>
                <li>Decreased movement or flexibility in the hand, wrist, or ankle</li>
                <li>Tight-fitting ring, watch, clothes or shoes</li>
                <li>A weakness or heavy feeling in the arms or legs</li>
            </ul>
        </div>
    </mat-expansion-panel>
</div>