<div class="sticky-container">
    <div class="sticky">
        <div class="home-header">
            <a [routerLink]="['/']" (click)="scrollToTop()">
                <img class="jslogo" src="../assets/icons/jsmedlogo.PNG">
            </a>
        </div>

        <div class="toolbar">
            <div class="toolbar-spacer">
                <div class="home-item" [routerLink]="['/']" (click)="scrollToTop()">
                    HOME
                </div>
            </div>
            <div class="dropdown toolbar-spacer">
                <button [routerLink]="['/education']" class="dropbtn">PATIENT EDUCATION</button>
                <div class="larger-dropdown-content">
                    <a [routerLink]="['/dvt-info']">What is DVT?</a>
                    <a [routerLink]="['/lymphedema']">What is Lymphedema?</a>
                    <a [routerLink]="['/cold-therapy']">Why Cold Therapy?</a>
                </div>
            </div>
            <div class="dropdown toolbar-spacer">
                <button [routerLink]="['/products']" class="dropbtn">PRODUCTS</button>
                <div class="larger-dropdown-content">
                    <ol type="A">
                        <li class="products-text" [routerLink]="['/products']">Vascular Therapy</li>
                        <ul>
                            <li [routerLink]="['/plasmaflow']" class="products-text">PlasmaFlow</li>
                            <li [routerLink]="['/manaflow']" class="products-text">ManaFlow</li>
                        </ul>
                        <li class="products-text" [routerLink]="['/products']">Cold Therapy</li>
                        <ul>
                            <li [routerLink]="['/cryo-knee']" class="products-text">Cryo Knee</li>
                            <li [routerLink]="['/cryo-shoulder']" class="products-text">Cryo Shoulder</li>
                            <li [routerLink]="['/cryo-hip']" class="products-text">Cryo Hip</li>
                            <li [routerLink]="['/cryo-ankle']" class="products-text">Cryo Ankle</li>
                        </ul>
                    </ol>
                </div>
            </div>
            <div class="dropdown toolbar-spacer">
                <button [routerLink]="['/contact-us']" class="dropbtn">CONTACT US</button>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>