<div class="sub-component ">
    <h1 class="center-content">Products Hub</h1>
    <h1 class="center-content">Vascular Therapy</h1>
    <div fxLayout="row" fxLayoutAlign="space-evenly">
        <div [routerLink]="['/plasmaflow']" class="clickable">
            <h1 class="ct-header-size center-content">Plasmaflow</h1>
            <img src="../assets/icons/plasmaflow.png">
        </div>
        <div [routerLink]="['/manaflow']" class="clickable">
            <h1 class="ct-header-size center-content">Manaflow</h1>
            <img class="" src="../assets/icons/manaflow.png">
        </div>
    </div>
    <h1 class="center-content">Cold Therapy</h1>
    <div fxLayout="row" fxLayoutAlign="space-evenly">
        <div [routerLink]="['/cryo-knee']" class="clickable">
            <h1 class="ct-header-size center-content">Cryo Knee</h1>
            <img src="../assets/icons/cryo-knee.png">
        </div>
        <div [routerLink]="['/cryo-shoulder']" class="clickable">
            <h1 class="ct-header-size center-content">Cryo Shoulder</h1>
            <img class="" src="../assets/icons/cryo-shoulder.png">
        </div>
        <div [routerLink]="['/cryo-hip']" class="clickable">
            <h1 class="ct-header-size center-content">Cryo Hip</h1>
            <img src="../assets/icons/cryo-hip.png">
        </div>
        <div [routerLink]="['/cryo-ankle']" class="clickable">
            <h1 class="ct-header-size center-content">Cryo Ankle</h1>
            <img class="" src="../assets/icons/cryo-ankle.png">
        </div>
    </div>
</div>
