<div class="sub-component page-bg">
    <h1 class="center-content common-header" style="margin-top: 6px;">Products Catalog</h1>
    <hr>
    <h1 class="center-content"style="color: #ff4d4d;">Vascular Therapy</h1>
    <div fxLayout="row" fxLayoutAlign="space-evenly">
        <div [routerLink]="['/plasmaflow']" class="clickable">
            <h1 class="ct-header-size center-content">Plasmaflow</h1>
            <img class="small-img" src="../assets/icons/mana-calf.png">
        </div>
        <div [routerLink]="['/manaflow']" class="clickable">
            <h1 class="ct-header-size center-content">Manaflow</h1>
            <img class="small-img" src="../assets/icons/manaflow.png">
        </div>
        <div [routerLink]="['/cryo-spine']" class="clickable">
            <h1 class="ct-header-size center-content">Spine</h1>
            <img class="small-img" src="../assets/icons/cryo-spine.png">
        </div>
    </div>
    <h1 class="center-content" style="color: cornflowerblue;">Cold Therapy</h1>
    <div fxLayout="row" fxLayoutAlign="space-evenly">
        <div [routerLink]="['/cryo-knee']" class="clickable">
            <h1 class="ct-header-size center-content">Knee</h1>
            <img class="large-img" src="../assets/icons/mana-knee.png">
        </div>
        <div [routerLink]="['/cryo-shoulder']" class="clickable">
            <h1 class="ct-header-size center-content">Shoulder</h1>
            <img class="large-img" src="../assets/icons/cryo-shoulder.png">
        </div>
        <div [routerLink]="['/cryo-hip']" class="clickable">
            <h1 class="ct-header-size center-content">Hip</h1>
            <img class="large-img" src="../assets/icons/mana-hip.png">
        </div>
        <div [routerLink]="['/cryo-ankle']" class="clickable">
            <h1 class="ct-header-size center-content">Ankle</h1>
            <img class="large-img" src="../assets/icons/mana-ankle.png">
        </div>
    </div>
</div>